<div class ="top-image"></div>
<h1 class ="top logo">Airsta</h1>



<div class ="row mt-5">
  <div class = "mx-auto">
    <h2 class = "mb-4 font-weight-bold">About</h2>
  </div>
</div>
<hr>
<div class ="row mt-5">
  <div class ="mx-auto mb-4 text-center">
    <p>ダンスで繋がり、広がる。<br>楽しんで踊りたい。本気でうまくなりたい。</p>
    <p>全てのダンサーに新しいコミュニティーを。</p>
    <p>練習会やプライベートレッスンを<br>手軽に検索、投稿できる情報共有サービスです。</p>    
  </div>
</div>
   
<div class ="row mt-5">
  <div class ="mx-auto">
    <h2 class = "mb-4 font-weight-bold">Search</h2>
  </div>
</div>
<hr>
<div class ="row">
  <div class = "mx-auto my-4 text-center">
    <p>投稿されたイベントから<br>自分に合うものを探しましょう。<br>気になったイベントはいいね機能を使って<br>見逃さないようにしましょう。</p>
  </div>
</div>        
    
<div class ="row mt-5">
  <div class ="mx-auto">
    <h2 class = "mb-4 font-weight-bold">Event</h2>
  </div>
</div>  
<hr>
<div class ="row my-5">
  <div class ="col-md-6">
    <div class ="row">
      <div class ="mx-auto">
        <h5 class ="my-3 font-weight-bold">練習会</h5>
      </div>
    </div>
    <div class ="row">
      <div class ="mx-auto mt-2 text-center">
        <p>個人で企画した練習会を掲載して<br>参加者を募集できます。<br>ジャンルやレベル、練習内容を載せる事で<br>目的にあったをダンサーを集めることが可能です。</p>
      </div>
    </div>
  </div>
  <div class ="col-md-6">
    <div class ="row">
      <div class ="mx-auto">
        <h5 class ="my-3 font-weight-bold">プライベートレッスン</h5>
      </div>
    </div>        
    <div class ="row">
      <div class ="mx-auto mt-2 text-center">
        <p>個人で企画したプライベートレッスンを<br>掲載して受講者を募集できます。<br>ジャンルやレベル、料金を載せる事で<br>目的にあったダンサーを集めることが可能です。</p>
      </div>
    </div>
  </div>
</div>

<footer class = "px-0 py-4  text-center text-white bg-info">
  <small>&copy; Airsta</small>
</footer>
